@mixin transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@mixin corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
  -khtml-border-radius: $radius;
}

.stopwatch {
  top: 0;
  right: 0;
  position: absolute;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-right: 5rem;
  color: black;
  text-align: center;
}

.stopwatch h1 {
  text-transform: uppercase;
  font-weight: 900;
}

.stopwatch #seconds,
.stopwatch #minutes,
.stopwatch #hours {
  font-size: 2em;
}
