* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.2;
  position: relative;
}

.head-container {
  position: relative;
  width: 100%;
}

.level-title {
  text-align: center;
  font-family: sans-serif;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: sans-serif;
  font-weight: 900;
  color: rgb(112, 55, 64);
  font-size: 5rem;
}

.container {
  width: 100rem;
}

.controll-container {
  /* position: fixed; */
  bottom: 0;
  display: flex;
  justify-content: space-around;
  width: 100rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  /* margin-top: 5rem; */
}

button:hover {
  cursor: pointer;
  filter: brightness(105%);
}

button:active {
  filter: brightness(95%);
}

[class*="btn-"] {
  padding: 1rem;
  font-size: 2rem;
  border-radius: 1rem;
  width: 15rem;
  box-shadow: 1px 1px 3px 0.5px rgba(128, 128, 128, 0.578);
}

.btn-previous {
  /* background-color: rgb(230, 190, 88); */
  background-image: linear-gradient(to top right, rgb(230, 190, 88), rgb(230, 190, 88), rgb(207, 157, 33));
  border: solid rgb(237, 206, 127) 2px;
}
.btn-next {
  /* background-color: rgb(16, 217, 30); */
  background-image: linear-gradient(to top right, rgb(16, 217, 30), rgb(16, 217, 30), rgb(11, 161, 21));
  border: solid rgb(139, 255, 149) 2px;
}
.btn-again,
.btn-customize {
  background-color: rgb(202, 139, 149);
  background-image: linear-gradient(to top right, rgb(202, 139, 149), rgb(202, 139, 149), rgb(166, 104, 115));
  border: solid rgb(220, 182, 188) 2px;
}

.keyboard {
  display: grid;
  /* margin-left: 20px; */
  /* margin-right: 20px; */
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding: auto;
  /* background-color: rgb(191, 116, 128); */
  background-image: linear-gradient(to top right, rgb(165, 97, 108), rgb(218, 174, 181), rgb(165, 97, 108));
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: inset 1px 0px 2px 2px rgb(144, 87, 96), inset -1px 0px 2px 2px rgb(144, 87, 96);
}

/* .textbox span {
  display: inline-block;
} */
.textbox-container {
  position: relative;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  overflow: hidden;
  background-image: linear-gradient(to top right, rgb(255, 227, 232), rgb(255, 244, 246), rgb(239, 204, 210));
  border: solid rgb(105, 60, 66) 2px;
}

.textbox {
  height: 45rem;
  /* background-color: rgb(255, 227, 232); */

  /* padding: 3rem; */

  font-size: 3.2rem;
}

.text-bopomofo {
  /* font-weight: 600; */
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(25, 3.7rem);
  grid-template-rows: repeat(10, 3.7rem);
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.text-roman {
  padding: 3rem;
  /* height: 3.7rem; */
  /* line-height: 5rem; */
}
.text-bopomofo span {
  width: 3.7rem;
  /* background-color: pink; */
  /* padding: 3rem; */
  /* position: relative; */
  /* display: inline-block; */
  /* min-height: 45.23px; */
  /* height: 3.7rem;
  width: 3rem; */
}

[class*="row"] {
  display: flex;
  justify-content: center;
}

[class*="row"] div {
  margin: 0.6rem;
}

.keyboard div[class*="key"] {
  font-size: 2rem;
  font-weight: 700;
  width: 6.3rem;
  height: 6.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.3rem;

  border-radius: 0.3rem;
}

.keyboard .key-46 {
  width: 45rem !important;
}

.neutral {
  /* background-color: pink; */
  background-image: linear-gradient(to top right, pink, pink, rgb(232, 166, 176));
  box-shadow: 2px 2px 2px 2px rgba(90, 49, 49, 0.632), inset 1px 1px 5px 3px rgb(224, 168, 177);
}
.current {
  /* background-color: rgb(255, 224, 236); */
  background-image: linear-gradient(to top right, rgb(113, 248, 95), rgb(207, 255, 192), rgb(27, 198, 5));

  box-shadow: 3px 2px 5px 2.5px rgba(90, 49, 49, 0.632), inset 8px -10px 15px 20px rgb(45, 154, 35);
}

.incorrect {
  /* background-color: rgb(255, 0, 0); */
  background-image: linear-gradient(to top right, red, rgb(255, 55, 55), rgb(216, 10, 10));
  box-shadow: 1px 1px 1px 1px rgba(49, 27, 27, 0.693);
}
.correct {
  /* background-color: pink; */
  filter: brightness(90%);
  background-image: linear-gradient(to top right, pink, pink, rgb(232, 166, 176));
  /* box-shadow: 2px 2px 2px 2px rgba(90, 49, 49, 0.632), inset 1px 1px 5px 3px rgb(224, 168, 177); */
}

.hidden {
  display: none !important;
}

.overlay {
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  margin: auto auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.custom-container {
  z-index: 2;
  margin: auto;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100rem;
  height: auto;
  background-image: linear-gradient(to top right, rgb(216, 157, 167), rgb(93, 61, 66), pink);
  border-radius: 1rem;
}

.custom-container textarea {
  font-size: 3rem;
  text-align: top;
  min-height: 15rem;
  width: 100%;
  margin: 1rem;
  border: solid rgb(146, 108, 114) 3px;
}
.custom-container textarea::placeholder {
  font-size: 70%;
  color: rgb(215, 64, 64);
}
.custom-container .controlls {
  /* width: 100%; */
  display: flex;
  justify-content: right;
}

.custom-container button {
  font-weight: 700;
  margin: 1rem;
}

.btn-cancel {
  background-image: linear-gradient(to top right, rgb(226, 226, 226), rgb(172, 172, 172));
  border: solid white 1.5px;
}
.btn-save {
  background-image: linear-gradient(to top right, rgb(207, 255, 207), rgb(121, 255, 121));
  border: solid green 1.5px;
}

.input-radio {
  color: white;
  font-family: sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 2rem;
}

.input-radio input {
  margin-right: 1rem;
}

.current-text {
  color: black;
  font-weight: bold;
  font-size: 110%;
  border-bottom: solid 3px;
}

.incorrect-text {
  color: red;
  font-weight: bold;
  font-size: 110%;
  border-bottom: solid 3px;
}

.finished-message {
  /* border-top-left-radius: 10%;
  border-top-right-radius: 10%; */
  background-color: rgba(255, 252, 252, 0.5);
  backdrop-filter: blur(3px);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: green;
  font-size: 3rem;
  font-weight: 700;
  height: 100%;
  width: 100%;
}

.correct-text {
  color: green;
}
